@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:wght@300;400;700&display=swap');
:root {
    /* colors declarations !!! DON'T USE IT outside :root or directly */
    --white: #fff;
    --orange: #ff7f00;

    /* functions colors declarations !!! USE ONLY THEM */
    --accent: var(--orange);
    --light: var(--white);

    /* other variables */
    --font-family--primary: 'Roboto', sans-serif;
    --font-family--accent: 'Playfair Display', serif;

    --font-color--light: var(--light);

    --font-size--default: 16px;
    --font-size--xxl: 110px;

    --overlay-color: rgba(0, 0, 0, .8);
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family--primary);
    font-size: var(--font-size--default);
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    width: 95%;
    max-width: 1170px;
    height: 100%;
    margin: auto;
}

.hero {
    position: relative;
    height: 100vh;
}

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--overlay-color);
    z-index: 1;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.hero__logo {
    margin-top: 230px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo--xl {
    gap: 40px;
}

.logo--xl .logo__image {
    width: 150px;
}

.logo--xl .logo__text {
    font-size: var(--font-size--xxl);
}

.logo--light {
    color: var(--font-color--light);
}