@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:wght@300;400;700&display=swap');
:root {
    /* colors declarations !!! DON'T USE IT outside :root or directly */
    --white: #fff;
    --orange: #ff7f00;

    /* functions colors declarations !!! USE ONLY THEM */
    --accent: var(--orange);
    --light: var(--white);

    /* media queries: we can't use them in @media directly but shall use only these breakpoints */
    --screen-xl: 1170px;
    --screen-md: 750px;
    --screen-sm: 530px;

    /* other variables */
    --font-family--primary: 'Roboto', sans-serif;
    --font-family--accent: 'Playfair Display', serif;

    --font-color--accent: var(--accent);
    --font-color--light: var(--light);

    --font-size--default: 16px;
    --font-size--md: 24px;
    --font-size--lg: 36px;
    --font-size--xxl: 110px;

    --font-weight--regular: 400;

    --overlay-color: rgba(0, 0, 0, .8);

    --bg-color--light: var(--light);
    --bg-color--accent: var(--accent);
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family--primary);
    font-size: var(--font-size--default);
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    width: 95%;
    max-width: 1170px;
    height: 100%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo--xl {
    gap: 40px;
}

.logo--xl .logo__image {
    width: 150px;
}

.logo--xl .logo__text {
    font-size: var(--font-size--xxl);
    font-weight: var(--font-weight--regular);
}

.logo--light {
    color: var(--font-color--light);
}

.hero {
    position: relative;
    height: 100vh;
}

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--overlay-color);
    z-index: 1;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 220px;
    height: 100%;
    z-index: 3;
}

.hero__cards {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 25px;
    width: 100%;
}

@media (min-width: 1170px) {
    .hero__cards {
        display: grid;
    }
}

.hero__cards-slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
}

@media (min-width: 750px) {
    .hero__cards-slider {
        min-width: 600px;
    }
}

@media (min-width: 1170px) {
    .hero__cards-slider {
        display: none;
    }
}

.hero-swiper__pagination.swiper-pagination {
    top: calc(100% + 20px) !important;
}

.hero-swiper__pagination .swiper-pagination-bullet {
    --bullet-dimensions: 12px;

    width: var(--bullet-dimensions);
    height: var(--bullet-dimensions);
    margin: 0 6px !important;
    background-color: var(--bg-color--light);
    opacity: 1;
}


.hero-swiper__pagination .swiper-pagination-bullet-active {
    background-color: var(--bg-color--accent);
}

.hero-swiper__nav-btn {
    --hero-slider-nav-btn-offset: 50px;
}


.hero-swiper__nav-btn.swiper-button-next,
.hero-swiper__nav-btn.swiper-button-prev {
    display: none;
    transition: color .2s linear 0s;
    color: var(--font-color--light);
}

.hero-swiper__nav-btn.swiper-button-next:hover,
.hero-swiper__nav-btn.swiper-button-prev:hover {
    color: var(--font-color--accent);
}

.hero-swiper__nav-btn.swiper-button-prev {
    left: calc(var(--hero-slider-nav-btn-offset) * -1);
}

.hero-swiper__nav-btn.swiper-button-next {
    right: calc(var(--hero-slider-nav-btn-offset) * -1);
}

@media (min-width: 520px) {
    .hero-swiper__nav-btn.swiper-button-next,
    .hero-swiper__nav-btn.swiper-button-prev {
        display: block;
    }
}

.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: var(--font-color--light);
    background-color: rgba(0,0,0,.75);
}

.hero-card.swiper-slide {
    display: flex;
}

@media (min-width: 1170px) {
    .hero-card {
        gap: 15px;
    }
}

.hero-card__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    font-family: var(--font-family--accent);
    font-size: var(--font-size--md);
}

.hero-card__subtitle:before,
.hero-card__subtitle:after {
    display: flex;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--bg-color--light);
}

.hero-card__title {
    font-size: var(--font-size--lg);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.hero-card__link {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color .2s linear 0s;
    color: inherit;
    text-decoration: none;
}

.hero-card__link:hover {
    color: var(--font-color--accent);
}

.hero-card__link > svg {
    --icon-dimensions: 17px;

    width: var(--icon-dimensions);
    height: var(--icon-dimensions);
    fill: currentColor;
}

@keyframes heroCardIcon {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(15px);
    }
}

.hero-card__link:hover > svg {
    animation: heroCardIcon .4s infinite alternate cubic-bezier(0, 0, 0.81, -0.2);
}