@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:wght@300;400;700&display=swap');
:root {
    /* colors declarations !!! DON'T USE IT outside :root or directly */
    --white: #fff;
    --orange: #ff7f00;
    --dark-orange: #cc5c02;
    --grey: #333333;
    --light-grey: #7f7f7f;

    /* functions colors declarations !!! USE ONLY THEM */
    --accent: var(--orange);
    --accent-dark: var(--dark-orange);
    --light: var(--white);
    --primary: var(--grey);
    --secondary: var(--light-grey);

    /* media queries: we can't use them in @media directly but shall use only these breakpoints */
    --screen-xl: 1200px;
    --screen-lg: 950px;
    --screen-md: 750px;
    --screen-sm: 550px;

    /* other variables */
    --font-family--primary: 'Roboto', sans-serif;
    --font-family--accent: 'Playfair Display', serif;

    --font-color--accent: var(--accent);
    --font-color--accent-dark: var(--accent-dark);
    --font-color--light: var(--light);
    --font-color--primary: var(--primary);
    --font-color--secondary: var(--secondary);

    --font-size--default: 16px;
    --font-size--md: 24px;
    --font-size--lg: 36px;
    --font-size--xl: 45px;
    --font-size--2xl: 60px;
    --font-size--3xl: 90px;
    --font-size--4xl: 110px;

    --font-weight--light: 300;
    --font-weight--regular: 400;
    --font-weight--medium: 600;

    --line-height: 1.5;

    --overlay-color: rgba(0, 0, 0, .7);

    --bg-color--light: var(--light);
    --bg-color--accent: var(--accent);
    --bg-color--accent-dark: var(--accent-dark);
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    font-size: var(--font-size--default);
}

body {
    font-family: var(--font-family--primary);
    color: var(--font-color--primary);
    line-height: var(--line-height);
}

img,
svg {
    display: block;
    width: 100%;
    height: 100%;
}

svg {
    fill: currentColor;
}

/* UI Components */

.container {
    width: 90%;
    max-width: 1170px;
    height: 100%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo--xl {
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 750px) {
    .logo--xl {
        flex-direction: row;
        gap: 40px;
    }
}

.logo--xl .logo__image {
    width: 120px;
}

@media (min-width: 750px) {
    .logo--xl .logo__image {
        width: 150px;
    }
}

.logo--xl .logo__text {
    font-size: var(--font-size--2xl);
    font-weight: var(--font-weight--regular);
    margin: 0;
    text-align: center;
}

@media (min-width: 550px) {
    .logo--xl .logo__text {
        font-size: var(--font-size--3xl);
    }
}

@media (min-width: 750px) {
    .logo--xl .logo__text {
        font-size: var(--font-size--4xl);
        text-align: left;
    }
}

.logo--light {
    color: var(--font-color--light);
}

.section {
    --section-offset-y: 70px;

    padding: var(--section-offset-y) 0;
}

@media (min-width: 950px) {
    .section {
        --section-offset-y: 100px;
    }
}

.section__wrapper {
    --section-wrapper-gap: 60px;

    display: flex;
    flex-direction: column;
    gap: var(--section-wrapper-gap);
}

@media (min-width: 950px) {
    .section__wrapper {
        --section-wrapper-gap: 100px;
    }
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.section__subtitle,
.section__title {
    margin: 0;
}

.section__subtitle {
    font-family: var(--font-family--accent);
    font-size: var(--font-size--md);
    font-weight: var(--font-weight--medium);
    color: var(--font-color--accent);
}

.section__title {
    --section-title-font-size: var(--font-size--lg);

    font-size: var(--section-title-font-size);
    font-weight: var(--font-weight--light);
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (min-width: 950px) {
    .section__title {
        --section-title-font-size: var(--font-size--xl);
    }
}

.section__description {
    max-width: 600px;
    color: var(--font-color--secondary);
}

.section__description p {
    margin-top: 0;
}

.section__description p:last-child {
    margin-bottom: 0;
}

.section-with-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section--offset-x {
    --section-offset: 30px;

    padding-left: var(--section-offset);
    padding-right: var(--section-offset);
}

.btn {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 100px
}

.btn--accent {
    color: var(--font-color--light);
    transition: background-color .2s linear 0s;
    background-color: var(--bg-color--accent);
}

.btn--accent:hover {
   background-color: var(--bg-color--accent-dark);
}

/* Website components */

.hero {
    position: relative;
    height: 100vh;
}

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--overlay-color);
    z-index: 1;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 100%;
    z-index: 3;
}

@media (min-width: 750px) {
    .hero__wrapper {
        gap: 220px;
    }
}

.hero__cards {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 25px;
    width: 100%;
}

@media (min-width: 1170px) {
    .hero__cards {
        display: grid;
    }
}

.hero__cards-slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
}

@media (min-width: 750px) {
    .hero__cards-slider {
        min-width: 600px;
    }
}

@media (min-width: 1170px) {
    .hero__cards-slider {
        display: none;
    }
}

.hero-swiper__pagination.swiper-pagination {
    top: calc(100% + 20px) !important;
}

.hero-swiper__pagination .swiper-pagination-bullet {
    --bullet-dimensions: 12px;

    width: var(--bullet-dimensions);
    height: var(--bullet-dimensions);
    margin: 0 6px !important;
    background-color: var(--bg-color--light);
    opacity: 1;
}


.hero-swiper__pagination .swiper-pagination-bullet-active {
    background-color: var(--bg-color--accent);
}

.hero-swiper__nav-btn {
    --hero-slider-nav-btn-offset: 50px;
}


.hero-swiper__nav-btn.swiper-button-next,
.hero-swiper__nav-btn.swiper-button-prev {
    display: none;
    transition: color .2s linear 0s;
    color: var(--font-color--light);
}

.hero-swiper__nav-btn.swiper-button-next:hover,
.hero-swiper__nav-btn.swiper-button-prev:hover {
    color: var(--font-color--accent);
}

.hero-swiper__nav-btn.swiper-button-prev {
    left: calc(var(--hero-slider-nav-btn-offset) * -1);
}

.hero-swiper__nav-btn.swiper-button-next {
    right: calc(var(--hero-slider-nav-btn-offset) * -1);
}

@media (min-width: 520px) {
    .hero-swiper__nav-btn.swiper-button-next,
    .hero-swiper__nav-btn.swiper-button-prev {
        display: block;
    }
}

.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: var(--font-color--light);
    background-color: rgba(0,0,0,.75);
}

.hero-card.swiper-slide {
    display: flex;
}

@media (min-width: 1170px) {
    .hero-card {
        gap: 15px;
    }
}

.hero-card__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    font-family: var(--font-family--accent);
    font-size: var(--font-size--md);
}

.hero-card__subtitle:before,
.hero-card__subtitle:after {
    display: flex;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--bg-color--light);
}

.hero-card__title {
    font-size: var(--font-size--lg);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.hero-card__link {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color .2s linear 0s;
    color: inherit;
    text-decoration: none;
}

.hero-card__link:hover {
    color: var(--font-color--accent);
}

.hero-card__link > svg {
    --icon-dimensions: 17px;

    width: var(--icon-dimensions);
    height: var(--icon-dimensions);
}

@keyframes heroCardIcon {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(15px);
    }
}

.hero-card__link:hover > svg {
    animation: heroCardIcon .4s infinite alternate cubic-bezier(0, 0, 0.81, -0.2);
}

.why-work__cards {
    display: grid;
    gap: 50px;
}

@media (min-width: 750px) {
    .why-work__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .why-work__cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.why-work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.why-work-card:hover .why-work-card__icon {
    color: var(--font-color--light);
}

.why-work-card:hover .why-work-card__icon:after {
    transform: scale(1);
    opacity: 1;
}

.why-work-card__icon {
    --icon-dimensions: 80px;
    --icon-offset: 15px;

    position: relative;
    width: var(--icon-dimensions);
    height: var(--icon-dimensions);
    padding: var(--icon-offset);
    color: var(--font-color--accent);
    transition: color .2s linear;
    border: 2px solid currentColor;
    border-radius: 50%;
}

@media (min-width: 750px) {
    .why-work-card__icon {
        --icon-dimensions: 100px;
        --icon-offset: 25px;
    }
}

.why-work-card__icon:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transform: scale(0.35);
    transition: all .2s linear;
    background-color: var(--bg-color--accent);
    border-radius: inherit;
    opacity: 0;
    z-index: -1;
}

.why-work-card__icon svg {
    position: relative;
    z-index: 2;
}

.why-work-card__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--font-weight--medium);
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 750px) {
    .why-work-card__title {
        margin-top: 20px;
    }
}

.why-work-card__descr {
    margin-top: 0;
    margin-bottom: 0;
}

.why-work-card__link {
    margin-top: auto;
}